<div class="main_body">
  <div class="body_image">
    <img src="../../assets/Attachment_1613615438.jpeg" alt="portait of Ryan M">
  </div>
  <div class="body_text">
    <h2> Hello! </h2>
    <p class="pInfo"> I am a Web Designer/ Front-End Developer. Living in Northern Virgnina. I have a passion for
      development and an
      incredible desire to learn! Below are a few of the projects I have worked on, my current skillset, and information
      on how to contact me!</p>
  </div>
  <div class="body_text">
    <div class="project_text">
      <img class="project_img" src="./assets/chalkboard.png  " alt="portait of Ryan M">
      <h2>Projects</h2>
      <ul>
        <li> <img src="./assets/postit.jpeg" alt=""><a href="https://github.com/rmorning99/HENNGE" target="_blank">
            HENNGE</a>
        </li>
        <li> <img src="./assets/postit.jpeg" alt=""><a href="https://github.com/rmorning99/RoomHomePage_Challenge"
            target="_blank"> ROOM HOMEPAGE</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="body_text">
    <h2>Skills</h2>
    <h3>Languages</h3>
    <ul>
      <li>
        <fa-icon [icon]="faJs"></fa-icon>Javascript
      </li>
      <li>
        <fa-icon [icon]="faHtml5"></fa-icon>HTML5
      </li>
      <li>
        <fa-icon [icon]="faCss3"></fa-icon>CSS
      </li>
      <li>TypeScript</li>
    </ul>
    <h3>FrameWorks/Preproccesors</h3>
    <ul id="frame_list">
      <li>
        <fa-icon [icon]="faAngular"></fa-icon>Angular
      </li>
      <li>
        <fa-icon [icon]="faSass"></fa-icon> SASS
      </li>
      <li>

      </li>
    </ul>
  </div>
</div>

<div class="contact">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="avatar_image"></div>
      <mat-card-title class="contact_header">Contact Me!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          Email: <span> Ryanmorning96@gmail.com</span>
        </li>
        <li>
          Phone: <span>+1(619)829-9067</span>
        </li>
      </ul>

    </mat-card-content>
  </mat-card>
</div>
