//background colors
$backgroundColor1: #fff;
$backgroundColor2: #616161;

//Font Styles
$header_Font:'Dancing Script',
cursive;
$bodyFont: 'Raleway',
sans-serif;

//Font Color
$headerColor: #95a69a;
$bodyColor: black;

//border color
$border_Color: black;
